.bg-creme {
  background-color: rgba(255, 234, 208, 0.521);
}
.bg-branco {
  background-color: #ffffff;
}
.bg-p1 {
  background-color: #e67e22;
}

.cor-branca {
  color: #ffffff;
}
.cor-p1 {
  color: #e67e22;
}

.logo-login {
  width: 80px;
}

#carrinho-de-compras img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.btn-carrinho {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.checkbox {
  width: 10px;
  height: 10px;
}

#carrinho-de-compras .btn-carrinho {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.btn-laranja:hover {
  background-color: #cf711f;
}
.footer-title {
  color: #e67e22; /* Laranja escuro (igual ao bot�o carrinho) */
}

/* === Links === */
.footer-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.footer-link:hover {
  color: #e67e22;
  transform: translateX(4px);
}

/* === �cones das redes sociais === */
.footer-icon {
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.footer-icon:hover {
  filter: brightness(1) invert(0);
  transform: scale(1.2);
}

.card-img-fixed {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

img {
  width: 100%;
}

.icon {
  max-width: 30px;
}
